@font-face {
    font-family: 'JSL Blackletter';
    src: url('JSL-Blackletter.woff2') format('woff2'),
        url('JSL-Blackletter.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

